.mainfont{
    font-family: 'Ubuntu Condensed', Verdana, Geneva, sans-serif;
}

.calligraphy{
    font-family: 'Dancing Script', cursive;
}

#profile_pic{
    border-radius: 50%;
    width: 40vw;
    padding-top: 2.5vh;
}

#name{
    font-size: 3.5rem;
    padding: 0;
    margin: 1vh;
}

#quote{
    font-size: 2.5rem;
    padding: 0;
    margin: 0;
}

#heading{
    width:100%;
    text-align: center;
}

@media only screen and (min-width:900px){
    #profile_pic{
        width:20vw;
    }
}